aws.iot.client_endpoint = <prefix>.iot.<region>.amazonaws.com
aws.iot.client_id = <unique client id>
aws.iot.thing_name = <thing name>
aws.iot.certificate_file = config/<id>-certificate.pem.crt
aws.iot.private_key_file = config/<id>-private.pem.key
aws.iot.report_interval_millis = 5000

fritzbox.url = https://fritz.box/
fritzbox.username = <username>
fritzbox.password = <password>
fritzbox.fritzdect.ain = <ain>
